<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stickers Login</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../style.css" />

  </head>

  <body class="login-background">
    <div class="container mt-3">
      <div>
        <br />
        <div class="login-form-background login-form-flex">
          <h1>REGISTRATE</h1>
          <form class="login-form-flex-inputs" action="/signin" method="post" autocomplete="off">

            <input id="mailRegistro" type="email" name="nombre" placeholder="Usuario" required />
            <input id="passwordRegistro" type="password" name="password" placeholder="Password" required />

            <button class="btn-login">ENVIAR</button>

          </form>
        </div>
      </div>
    </div>
    <script src="../main.js"></script>
  </body>
</html>